.new_post {
  height: max-content;
  width: max-content;
  .new_post_title {
  }
  .interface {
    display: flex;
    .img_container {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      height: 500px;
      width: 500px;
      align-items: center;
      justify-items: center;
      .new_img {
        height: 400px;
        width: 400px;
        grid-area: 1/1;
        object-position: 50% 30%;
        object-fit: cover;
      }
      .file_btn {
        align-self: center;
        justify-self: center;
        overflow: hidden;
        grid-area: 1/1;
        background-color: lightblue;
        border-radius: 1rem;
        box-shadow: 1px 1px 10px grey;
        .img_input {
          display: none;
        }
      }
    }

    .inputs_container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .caption_input {
      }
      .tags_help {
      }
      .tags_input {
      }
      .friends_input {
      }
    }
  }
}
