.new_post {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  .new_post_title {
    height: fit-content;
    margin: 2rem;

    &:before,
    &:after {
      margin: 1rem;
      background-color: gray;
      content: '';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 20%;
      top: 0.2rem;
    }
  }
  .interface {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    .img_container {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      height: 500px;
      width: 500px;
      align-items: center;
      justify-items: center;
      .new_img {
        outline: solid transparent;
        height: 400px;
        width: 400px;
        grid-area: 1/1;
        object-position: 50% 30%;
        object-fit: cover;
      }
      .file_btn {
        align-self: center;
        justify-self: center;
        overflow: hidden;
        grid-area: 1/1;
        border-radius: 1rem;
        background-color: $grey_light;
        .hr {
          color: black;
        }
        .img_input {
          display: none;
        }
      }
    }

    .inputs_container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-right: 5rem;
      .inputs {
        display: flex;
        flex-direction: column;
        .input {
          background-color: $grey_light;
          border-radius: 1rem;
          margin-top: 3rem;
        }
      }

      .icon_btn {
        flex-direction: row-reverse;
        padding-left: 2rem;
        .icon {
        }
        .text {
          font-weight: 800;
          margin-right: -1.5rem;
        }
      }
    }
  }
}
@media only screen and (max-width: $phone-size) {
  .new_post {
    overflow-y: auto;
    overflow-x: hidden;
    .interface {
      flex-direction: column;
      align-items: center;
      .inputs_container {
        margin: 0;
        width: 80%;
        .inputs {
          width: 100%;
        }
        .icon_btn {
          margin: 5rem;
        }
      }
    }
  }
}
