$bg_first: #3b447f;
$bg_second: #9366ab;
$btn: #fcb13a;
$DARK_BG: #36373c;

$white: #ffffff;
$grey: #333;
$grey_light: #dddddd;
$blue: #4064ac;

.grey {
  background-color: $grey_light !important;
  color: $grey !important;
}

.blue {
  background-color: $blue !important;
  color: $white !important;
}

.transparent {
    background-color: transparent !important;
}
