.map {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;

  &__filters {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #cde9ff;
    z-index: 2;
    overflow-x: hidden;
    transition: all 0.5s !important;

    &__container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 30px;
      align-items: center;

      label {
        display: flex;
        flex-direction: column;
        span {
          font-size: 1.5rem;
          font-weight: 800;
        }
      }

      .fg_input {
        display: flex;
        input {
          width: 20vw;
        }
        .btn {
          margin-left: 5px;
          width: 5vw;
          padding: 0;
          display: block;

          .icon {
            height: 100%;
            margin: 0;
          }
        }
      }

      input {
        width: 25vw;
        height: 4rem;
        padding-left: 10px;
        border-radius: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
      }
      .date_input {
      }
      .text_input {
      }
      &__btn {
        height: 40px;
        width: 40px;
        display: block;
        border-radius: 50%;
        top: 80px;
        padding: 0;
        transition: all 0.7s;

        .icon {
          height: 100%;
          margin: 0;
        }
      }
    }
  }

  &__container {
    height: calc(100vh - 6rem);
    width: 100%;
    z-index: 1;
    position: absolute;
  }

  &__btn__filters {
    height: 40px;
    width: 40px;
    display: block;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    top: 80px;
    left: 7px;
    margin-bottom: 6px;
    padding: 0;
    transition: all 0.7s;

    .icon {
      height: 100%;
      margin: 0;
    }
  }
}
