* {
  padding: 0;
  margin: 0; }

html,
body,
.app {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh; }

.disable {
  cursor: default;
  pointer-events: none;
  user-select: none;
  opacity: 0.8; }

:root {
  font-size: 10px; }

.top_btn_color {
  background-color: rgba(0, 0, 0, 0) !important;
  color: white !important; }

.active {
  background-color: #cde9ff !important;
  color: #333 !important; }

.grey {
  background-color: #dddddd !important;
  color: #333 !important; }

.blue {
  background-color: #4064ac !important;
  color: #ffffff !important; }

.transparent {
  background-color: transparent !important; }

.login__page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #3b447f, #9366ab);
  color: white; }

.login__container {
  margin-top: -10rem;
  width: 25rem;
  font-size: 1.8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem; }
  .login__container .btn {
    width: calc(100% - 2rem); }

.login__title {
  margin-bottom: 3rem; }
  .login__title:before, .login__title:after {
    background-color: white;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
    top: 0.2rem; }
  .login__title:before {
    right: 10%;
    margin-left: -50%; }
  .login__title:after {
    left: 10%;
    margin-right: -50%; }

.login__links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem; }

.strength {
  font-size: 4rem !important; }

.title {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  user-select: none; }

input,
input:hover,
input:focus,
input:active {
  outline: none; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition-delay: 9999s;
  transition-property: background-color, color; }

.input__wapper {
  width: 100%; }

.input__input {
  width: calc(100% - 2rem - 2px);
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.1) !important;
  border: 1px solid rgba(0, 0, 0, 0); }
  .input__input:focus {
    border: 1px solid #ccc; }

.input__error {
  background-color: rgba(255, 0, 0, 0.1); }
  .input__error > .input__input:focus {
    border: 1px solid red !important; }

.btn {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #fcb13a;
  color: black;
  text-align: center;
  width: max-content; }
  .btn:hover {
    opacity: 0.8;
    cursor: pointer; }
  .btn:active {
    opacity: 0.6; }

.icon_btn {
  display: flex;
  align-items: center;
  gap: 1rem; }
  .icon_btn .text {
    font-weight: 100; }
  .icon_btn .icon {
    margin-left: 2rem;
    margin-right: 1rem;
    font-size: 2rem; }

.link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem; }
  .link:hover {
    opacity: 0.8;
    cursor: pointer; }
  .link:active {
    opacity: 0.6; }

.hr {
  border: 0;
  border-top: 1px solid white;
  width: 90%;
  margin: 0 5% 0 5%; }

.post {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: max-content; }
  .post .header {
    padding: 1rem;
    display: flex;
    align-items: center; }
    .post .header .profile_img {
      height: 50px;
      width: 50px;
      border-radius: 50%; }
    .post .header .username {
      font-weight: 800;
      font-size: 1.4rem;
      padding-left: 1rem; }
  .post .img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position: 50% 30%; }
  .post .bottom_header {
    display: flex; }
    .post .bottom_header .like_btn {
      color: #555; }
    .post .bottom_header .view_comments {
      color: #333;
      align-self: center; }
  .post .comment_container {
    display: flex;
    box-shadow: 1px 1px 2px gray;
    border-radius: 1rem; }
    .post .comment_container .comment_input {
      color: gray; }
      .post .comment_container .comment_input::placeholder {
        color: gray;
        opacity: 0.5; }
    .post .comment_container .comment_btn {
      margin: 0;
      padding: 0;
      background-color: transparent; }

.main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 1fr;
  background-color: #eff8ff; }

.profile {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .profile .header {
    padding: 2rem;
    width: max-content;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center; }
    .profile .header .img {
      height: 10rem;
      width: 10rem;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 1px 1px 3px grey; }
    .profile .header .details {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
      align-items: center;
      justify-items: center; }
      .profile .header .details .add_friend {
        grid-area: 1/3; }
      .profile .header .details .bio {
        grid-area: 2/2; }
      .profile .header .details .friends {
        grid-area: 3/1; }
      .profile .header .details .likes {
        grid-area: 3/2; }
      .profile .header .details .posts {
        grid-area: 3/3; }

.top_bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0099ff; }
  .top_bar .pages_btns {
    display: flex; }

.new_post {
  height: max-content;
  width: max-content; }
  .new_post .interface {
    display: flex; }
    .new_post .interface .img_container {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      height: 500px;
      width: 500px;
      align-items: center;
      justify-items: center; }
      .new_post .interface .img_container .new_img {
        height: 400px;
        width: 400px;
        grid-area: 1/1;
        object-position: 50% 30%;
        object-fit: cover; }
      .new_post .interface .img_container .file_btn {
        align-self: center;
        justify-self: center;
        overflow: hidden;
        grid-area: 1/1;
        background-color: lightblue;
        border-radius: 1rem;
        box-shadow: 1px 1px 10px grey; }
        .new_post .interface .img_container .file_btn .img_input {
          display: none; }
    .new_post .interface .inputs_container {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }

.container {
  height: 100%;
  width: 100%; }
  .container .map {
    height: 100vh;
    width: 100vw; }
